@import 'colors';
@import 'base';
@import 'heading';

section {
  margin: 0 auto 5rem;
  padding: 0 1rem;
  max-width: 1200px;
}

.btn {
  position: relative;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  padding: 0.5em 0.75em;
  line-height: 1.4;
  border-radius: 4px;
  color: $white;
  background-color: $red;
  border-color: $red;
}

.w-100 {
  width: 100%;
}

.hide {
  visibility: hidden;
}

.show {
  visibility: visible;
}
